<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="content">
  
  <f:variable name="schulehatabu">0</f:variable>
  <f:variable name="schulehatgst">0</f:variable>
  <f:variable name="schulehatgsu">0</f:variable>
  <f:variable name="schulehatiwi">0</f:variable>
  <f:variable name="schulehatsoz">0</f:variable>
  <f:variable name="schulehattec">0</f:variable>
  <f:variable name="schulehatwuv">0</f:variable>

  <f:variable name="schulehatfranzoesisch">0</f:variable>
  <f:variable name="schulehatitalienisch">0</f:variable>
  <f:variable name="schulehatlatein">0</f:variable>
  <f:variable name="schulehatspanisch">0</f:variable>
  <f:variable name="schulehatrussisch">0</f:variable>
  
  <f:variable name="schulehatseminar">0</f:variable>
  <f:variable name="schulehatfpa">0</f:variable>
  
  <f:variable name="funktion11da">0</f:variable>
  <f:variable name="funktion12da">0</f:variable>
  <f:variable name="funktion13da">0</f:variable>
  <f:variable name="funktion14da">0</f:variable>
  <f:variable name="funktion15da">0</f:variable>
  <f:variable name="funktion16da">0</f:variable> 
  <f:variable name="funktion17da">0</f:variable>
  <f:variable name="funktion18da">0</f:variable>
  <f:variable name="funktion19da">0</f:variable>
  <f:variable name="funktion20da">0</f:variable>
  <f:variable name="funktion21da">0</f:variable>
  <f:variable name="funktion22da">0</f:variable>
  <f:variable name="funktion23da">0</f:variable>
  <f:variable name="funktion24da">0</f:variable>
  <f:variable name="funktion25da">0</f:variable>
  <f:variable name="funktion26da">0</f:variable>
  <f:variable name="funktion27da">0</f:variable>
  <f:variable name="funktion28da">0</f:variable>
  <f:variable name="funktion29da">0</f:variable>
  <f:variable name="funktion30da">0</f:variable>
  <f:variable name="funktion31da">0</f:variable>
  
  <f:variable name="deutschcounter">0</f:variable>
  <f:variable name="seminarfachcounter">0</f:variable>
  <f:variable name="englischcounter">0</f:variable>
  <f:variable name="mathecounter">0</f:variable>
  <f:variable name="wirtschaftcounter">0</f:variable>
  <f:variable name="physikcounter">0</f:variable>  
  
  <f:variable name="maschulcounter">0</f:variable>
  <f:variable name="erwschulcounter">0</f:variable>
  <f:variable name="fpacounter">0</f:variable>
  <f:variable name="verbindcounter">0</f:variable>
  <f:variable name="seminarcounter">0</f:variable>
  <f:variable name="schulpsychologiecounter">0</f:variable>
  <f:variable name="schulsozialpaedagogikcounter">0</f:variable>
  <f:variable name="sonderpaedagogikcounter">0</f:variable>

  <f:variable name="funktion50da">0</f:variable>
  <f:variable name="funktion51da">0</f:variable>
  <f:variable name="funktion52da">0</f:variable>
  <f:variable name="funktion53da">0</f:variable>
  <f:variable name="funktion54da">0</f:variable>
  <f:variable name="funktion55da">0</f:variable>
  <f:variable name="funktion56da">0</f:variable>
  <f:variable name="funktion57da">0</f:variable>
  <f:variable name="funktion58da">0</f:variable>
  <f:variable name="funktion59da">0</f:variable>
  <f:variable name="funktion60da">0</f:variable>
  <f:variable name="funktion61da">0</f:variable>
  <f:variable name="funktion62da">0</f:variable>
  <f:variable name="funktion63da">0</f:variable>
  <f:variable name="funktion64da">0</f:variable>
  <f:variable name="funktion65da">0</f:variable>
  <f:variable name="funktion66da">0</f:variable>
  <f:variable name="funktion67da">0</f:variable>
   
  <f:if condition="{institution.art.uid} == 2">
    <f:then> 
      <f:variable name="schulehatfpa">1</f:variable>
      <f:for each="{institution.ausbildungsrichtungen}" as="ausbildungsrichtung"> 
        <f:if condition="{ausbildungsrichtung.uid} < 6">
          <f:variable name="schulehatabu">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 5 && {ausbildungsrichtung.uid} < 9">
          <f:variable name="schulehatgst">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 8 && {ausbildungsrichtung.uid} < 14">
          <f:variable name="schulehatgsu">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 13 && {ausbildungsrichtung.uid} < 19">
          <f:variable name="schulehatiwi">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 18 && {ausbildungsrichtung.uid} < 24">
          <f:variable name="schulehatsoz">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 23 && {ausbildungsrichtung.uid} < 29">
          <f:variable name="schulehattec">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 28 && {ausbildungsrichtung.uid} < 34">
          <f:variable name="schulehatwuv">1</f:variable>
        </f:if>
		<f:if condition="{ausbildungsrichtung.uid} == 3 || {ausbildungsrichtung.uid} == 5 || {ausbildungsrichtung.uid} == 8 || {ausbildungsrichtung.uid} == 11 || {ausbildungsrichtung.uid} == 13 || {ausbildungsrichtung.uid} == 16 || {ausbildungsrichtung.uid} == 18 || {ausbildungsrichtung.uid} == 21 || {ausbildungsrichtung.uid} == 23 || {ausbildungsrichtung.uid} == 26 || {ausbildungsrichtung.uid} == 28 || {ausbildungsrichtung.uid} == 31 || {ausbildungsrichtung.uid} == 33">
          <f:variable name="schulehatseminar">1</f:variable>
        </f:if>        
      </f:for>
    </f:then>
    <f:else>
      <f:if condition="{institution.art.uid} == 3">
        <f:then>
          <f:variable name="schulehatfpa">1</f:variable>
          <f:for each="{institution.ausbildungsrichtungen}" as="ausbildungsrichtung">          
            <f:if condition="{ausbildungsrichtung.uid} < 4 ">
              <f:variable name="schulehatabu">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} > 5 && {ausbildungsrichtung.uid} < 9">
              <f:variable name="schulehatgst">1</f:variable>
            </f:if>            
            <f:if condition="{ausbildungsrichtung.uid} > 8 && {ausbildungsrichtung.uid} < 12">
              <f:variable name="schulehatgsu">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} > 13 && {ausbildungsrichtung.uid} < 17">
              <f:variable name="schulehatiwi">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} > 18 && {ausbildungsrichtung.uid} < 22">
              <f:variable name="schulehatsoz">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} > 23 && {ausbildungsrichtung.uid} < 27">
              <f:variable name="schulehattec">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} > 28 && {ausbildungsrichtung.uid} < 32">
              <f:variable name="schulehatwuv">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} == 3 || {ausbildungsrichtung.uid} == 8 || {ausbildungsrichtung.uid} == 11 || {ausbildungsrichtung.uid} == 16 || {ausbildungsrichtung.uid} == 21 || {ausbildungsrichtung.uid} == 26 || {ausbildungsrichtung.uid} == 31">
              <f:variable name="schulehatseminar">1</f:variable>
            </f:if>            
          </f:for>
        </f:then>
        <f:else>
          <f:if condition="{institution.art.uid} == 4">
            <f:then>
              <f:for each="{institution.ausbildungsrichtungen}" as="ausbildungsrichtung"> 
                <f:if condition="{ausbildungsrichtung.uid} == 4 || {ausbildungsrichtung.uid} == 5">
                  <f:variable name="schulehatabu">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 12 || {ausbildungsrichtung.uid} == 13">
                  <f:variable name="schulehatgsu">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 17 || {ausbildungsrichtung.uid} == 18">
                  <f:variable name="schulehatiwi">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 22 || {ausbildungsrichtung.uid} == 23">
                  <f:variable name="schulehatsoz">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 27 || {ausbildungsrichtung.uid} == 28">
                  <f:variable name="schulehattec">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 32 || {ausbildungsrichtung.uid} == 33">
                  <f:variable name="schulehatwuv">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 5 || {ausbildungsrichtung.uid} == 13 || {ausbildungsrichtung.uid} == 18 || {ausbildungsrichtung.uid} == 23 || {ausbildungsrichtung.uid} == 28 || {ausbildungsrichtung.uid} == 33">
                  <f:variable name="schulehatseminar">1</f:variable>
                </f:if>                
              </f:for>
            </f:then>
          </f:if>
        </f:else>
      </f:if>
    </f:else>
  </f:if>

  <f:for each="{institution.sprachen}" as="sprache">
    <f:if condition="{sprache.uid} == 1 || {sprache.uid} == 2 || {sprache.uid} == 11">
      <f:variable name="schulehatfranzoesisch">1</f:variable>
    </f:if>
    <f:if condition="{sprache.uid} == 3 || {sprache.uid} == 4">
      <f:variable name="schulehatitalienisch">1</f:variable>
    </f:if>
    <f:if condition="{sprache.uid} == 5 || {sprache.uid} == 6">
      <f:variable name="schulehatlatein">1</f:variable>
    </f:if>
    <f:if condition="{sprache.uid} == 7 || {sprache.uid} == 8">
      <f:variable name="schulehatrussisch">1</f:variable>
    </f:if>
    <f:if condition="{sprache.uid} == 9 || {sprache.uid} == 10 || {sprache.uid} == 12">
      <f:variable name="schulehatspanisch">1</f:variable>
    </f:if>    
  </f:for> 

    <f:flashMessages />

    <f:render partial="FormErrors" />

	<f:render partial="Person/List_Ansprechpartner_Faecher" arguments="{_all}"/>
	<f:render partial="Person/List_Ansprechpartner_Sonstige" arguments="{_all}"/>

  </f:section>
</html>

