<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="content">

  <f:for each="{0:'seminar',1:'abu',2:'gst',3:'gsu',4:'iwi',5:'soz',6:'tec', 7:'wuv',8:'franzoesisch',9:'italienisch',10:'latein',11:'russisch',12:'spanisch',13:'fpa'}" as="schulehat" iteration="schulehatIteration">
    <f:variable name="{schulehat{schulehat}}">0</f:variable>  
  </f:for> 
  <f:for each="{auswahlfunktionen}" as="auswahlfunktion" iteration="funktionIteration">
    <f:variable name="funktion{auswahlfunktion.uid}da">0</f:variable>
    <f:variable name="funktion{auswahlfunktion.uid}counter">0</f:variable>
    <f:variable name="funktion{auswahlfunktion.uid}noetig">1</f:variable>
    <f:variable name="maxanzahl{auswahlfunktion.uid}">{auswahlfunktion.anzahl}</f:variable>
    <f:variable name="funktion{auswahlfunktion.uid}name">{auswahlfunktion.bezeichnung}</f:variable>
    <f:variable name="var{auswahlfunktion.uid}text1"></f:variable>
    <f:variable name="var{auswahlfunktion.uid}text2"></f:variable>    
  </f:for>   
  <f:if condition="{institution.art.uid} == 2">
    <f:then> 
      <f:variable name="schulehatfpa">1</f:variable>
      <f:for each="{institution.ausbildungsrichtungen}" as="ausbildungsrichtung"> 
        <f:if condition="{ausbildungsrichtung.uid} < 6">
          <f:variable name="schulehatabu">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 5 && {ausbildungsrichtung.uid} < 9">
          <f:variable name="schulehatgst">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 8 && {ausbildungsrichtung.uid} < 14">
          <f:variable name="schulehatgsu">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 13 && {ausbildungsrichtung.uid} < 19">
          <f:variable name="schulehatiwi">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 18 && {ausbildungsrichtung.uid} < 24">
          <f:variable name="schulehatsoz">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 23 && {ausbildungsrichtung.uid} < 29">
          <f:variable name="schulehattec">1</f:variable>
        </f:if>
        <f:if condition="{ausbildungsrichtung.uid} > 28 && {ausbildungsrichtung.uid} < 34">
          <f:variable name="schulehatwuv">1</f:variable>
        </f:if>
		<f:if condition="{ausbildungsrichtung.uid} == 3 || {ausbildungsrichtung.uid} == 5 || {ausbildungsrichtung.uid} == 8 || {ausbildungsrichtung.uid} == 11 || {ausbildungsrichtung.uid} == 13 || {ausbildungsrichtung.uid} == 16 || {ausbildungsrichtung.uid} == 18 || {ausbildungsrichtung.uid} == 21 || {ausbildungsrichtung.uid} == 23 || {ausbildungsrichtung.uid} == 26 || {ausbildungsrichtung.uid} == 28 || {ausbildungsrichtung.uid} == 31 || {ausbildungsrichtung.uid} == 33">
          <f:variable name="schulehatseminar">1</f:variable>
        </f:if>        
      </f:for>
    </f:then>
    <f:else>
      <f:if condition="{institution.art.uid} == 3">
        <f:then>
          <f:variable name="schulehatfpa">1</f:variable>
          <f:for each="{institution.ausbildungsrichtungen}" as="ausbildungsrichtung">          
            <f:if condition="{ausbildungsrichtung.uid} < 4 ">
              <f:variable name="schulehatabu">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} > 5 && {ausbildungsrichtung.uid} < 9">
              <f:variable name="schulehatgst">1</f:variable>
            </f:if>            
            <f:if condition="{ausbildungsrichtung.uid} > 8 && {ausbildungsrichtung.uid} < 12">
              <f:variable name="schulehatgsu">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} > 13 && {ausbildungsrichtung.uid} < 17">
              <f:variable name="schulehatiwi">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} > 18 && {ausbildungsrichtung.uid} < 22">
              <f:variable name="schulehatsoz">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} > 23 && {ausbildungsrichtung.uid} < 27">
              <f:variable name="schulehattec">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} > 28 && {ausbildungsrichtung.uid} < 32">
              <f:variable name="schulehatwuv">1</f:variable>
            </f:if>
            <f:if condition="{ausbildungsrichtung.uid} == 3 || {ausbildungsrichtung.uid} == 8 || {ausbildungsrichtung.uid} == 11 || {ausbildungsrichtung.uid} == 16 || {ausbildungsrichtung.uid} == 21 || {ausbildungsrichtung.uid} == 26 || {ausbildungsrichtung.uid} == 31">
              <f:variable name="schulehatseminar">1</f:variable>
            </f:if>            
          </f:for>
        </f:then>
        <f:else>
          <f:if condition="{institution.art.uid} == 4">
            <f:then>
              <f:for each="{institution.ausbildungsrichtungen}" as="ausbildungsrichtung"> 
                <f:if condition="{ausbildungsrichtung.uid} == 4 || {ausbildungsrichtung.uid} == 5">
                  <f:variable name="schulehatabu">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 12 || {ausbildungsrichtung.uid} == 13">
                  <f:variable name="schulehatgsu">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 17 || {ausbildungsrichtung.uid} == 18">
                  <f:variable name="schulehatiwi">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 22 || {ausbildungsrichtung.uid} == 23">
                  <f:variable name="schulehatsoz">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 27 || {ausbildungsrichtung.uid} == 28">
                  <f:variable name="schulehattec">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 32 || {ausbildungsrichtung.uid} == 33">
                  <f:variable name="schulehatwuv">1</f:variable>
                </f:if>
                <f:if condition="{ausbildungsrichtung.uid} == 5 || {ausbildungsrichtung.uid} == 13 || {ausbildungsrichtung.uid} == 18 || {ausbildungsrichtung.uid} == 23 || {ausbildungsrichtung.uid} == 28 || {ausbildungsrichtung.uid} == 33">
                  <f:variable name="schulehatseminar">1</f:variable>
                </f:if>                
              </f:for>
            </f:then>
          </f:if>
        </f:else>
      </f:if>
    </f:else>
  </f:if>

  <f:for each="{institution.sprachen}" as="sprache">
    <f:if condition="{sprache.uid} == 1 || {sprache.uid} == 2 || {sprache.uid} == 11">
      <f:variable name="schulehatfranzoesisch">1</f:variable>
    </f:if>
    <f:if condition="{sprache.uid} == 3 || {sprache.uid} == 4">
      <f:variable name="schulehatitalienisch">1</f:variable>
    </f:if>
    <f:if condition="{sprache.uid} == 5 || {sprache.uid} == 6">
      <f:variable name="schulehatlatein">1</f:variable>
    </f:if>
    <f:if condition="{sprache.uid} == 7 || {sprache.uid} == 8">
      <f:variable name="schulehatrussisch">1</f:variable>
    </f:if>
    <f:if condition="{sprache.uid} == 9 || {sprache.uid} == 10 || {sprache.uid} == 12">
      <f:variable name="schulehatspanisch">1</f:variable>
    </f:if>    
  </f:for> 

    <f:flashMessages />

    <f:render partial="FormErrors" />

	<f:render partial="Person/List_Ansprechpartner_Faecher" arguments="{_all}"/>
	<f:render partial="Person/List_Ansprechpartner_Sonstige" arguments="{_all}"/>

  </f:section>
</html>

