<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  
<f:layout name="Default" />

<f:section name="content">
  <f:asset.script identifier="bfbn-person-funktion" src="EXT:bfbn/Resources/Public/JS/jstable.min.js" />
  <f:asset.css identifier="bfbn-person-funktion" href="EXT:bfbn/Resources/Public/CSS/jstable.css" />

  <f:asset.script identifier="vanilla_bfbn-person-funktion">
  let myTable = new JSTable("#personfunktion", {
    sortable: true,
    searchable: false,
    columns: [
    	{
        select: 4,
        sortable: true,
        sort: "asc"
    	}
    ],
    perPage: 10,
    perPageSelect: [10,20,30],
    labels: {
        placeholder: "Suchen...",
        perPage: "{select} Zeilen pro Seite",
        noRows: "Nichts gefunden",
        info: "Zeige {start} bis {end} von {rows} Einträgen",
        loading: "Laden...",
        infoFiltered: "Zeige {start} bis {end} von {rows} Einträgen (gefiltert von {rowsTotal} Einträgen)"
    }    
  });
  </f:asset.script>
  
  <f:if condition="{art} == 1">
    <f:then>
      <h1>Ergebnis der Suche von Funktionsträgern ({institution.kurzbezeichnung})</h1>
    </f:then>
    <f:else>
      <f:if condition="{art} == 2">
        <f:then>
          <h1>Ergebnis der Suche von Funktionsträgern</h1>
          <h5>(gesuchte Funktionen:             
                    <f:for each="{gesuchtefunktionen}" as="funktion" iteration="funktionIteration">                    
                      &nbsp;{funktion.bezeichnung}
                    </f:for>
             )
          </h5>
        </f:then>
        <f:else>
          <f:if condition="{art} == 3">
            <f:then>
              <h1>Ergebnis der Suche von Funktionsträgern ({institution.kurzbezeichnung})</h1>
              <h5>(gesuchte Funktionen:             
                        <f:for each="{gesuchtefunktionen}" as="funktion" iteration="funktionIteration">                    
                          &nbsp;{funktion.bezeichnung}
                        </f:for>               
                )
              </h5>
            </f:then>
            <f:else>
                <h1>Ergebnis der Suche von Funktionsträgern</h1> 
            </f:else>
          </f:if>
        </f:else>
      </f:if>
    </f:else>
  </f:if>   

    <f:flashMessages />
 
  	<f:if condition="{personen}">
      <f:then>
        <div class="table-responsive-sm">         
          <table id="personfunktion" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th data-sortable="false" scope="col">Akad. Titel</th>
                <th scope="col">Nachname</th>
                <th data-sortable="false" scope="col">Vorname</th>
                <th data-sortable="false" scope="col">Geschlecht</th>
                <th scope="col">Funktion</th>
                <th scope="col">Institution</th>
                <th scope="col">bestellt ab</th>
                <th scope="col">letzte Änderung</th>
              </tr>
            </thead>
            <tbody>
              <f:for each="{personen}" as="person" iteration="personIteration">                          
                <tr>
                  <td>{person.titel}</td>
                  <td>{person.nachname}</td>
                  <td>{person.vorname}</td>
                  <f:if condition="{person.geschlecht.uid} == 1">
                    <f:then>
                      <td>männlich</td>  
                    </f:then>
                    <f:else>
                      <f:if condition="{person.geschlecht.uid} == 2">
                        <f:then>
                          <td>weiblich</td> 
                        </f:then>
                        <f:else>
                          <f:if condition="{person.geschlecht.uid} == 3">
                            <f:then>
                              <td>divers</td>
                            </f:then>
                            <f:else>
                            </f:else>
                          </f:if>
                        </f:else>
                      </f:if>
                    </f:else>
                  </f:if>
                  <f:for each="{person.funktionen}" as="funktion" iteration="funktionIteration">                    
                    <td>{funktion.bezeichnung}</td>
                  </f:for>
                  <f:for each="{person.institutionen}" as="institution" iteration="institutionIteration">                    
                    <td>{institution.kurzbezeichnung}</td>
                  </f:for>                 
                  <td>{person.bestelltab-> f:format.date(format: 'd.m.Y')}</td>
                  <td>{person.tstamp-> f:format.date(format: 'd.m.Y')}</td>
                </tr>                
              </f:for>             
            </tbody>
          </table>
        </div>
        <f:if condition="{art} == 1">
          <f:then>
            <f:link.action action="export" class="btn btn-primary" arguments="{institution: suche.institution}"><i class="fas fa-download me-2"></i>Export</f:link.action>
          </f:then>
          <f:else>
            <f:if condition="{art} == 2">
              <f:then>
                <f:link.action action="export" class="btn btn-primary" arguments="{funktionen: suche.funktionen}"><i class="fas fa-download me-2"></i>Export</f:link.action>  
              </f:then>
              <f:else>
                <f:if condition="{art} == 3">
                  <f:link.action action="export" class="btn btn-primary" arguments="{institution: suche.institution, funktionen: suche.funktionen}"><i class="fas fa-download me-2"></i>Export</f:link.action>  
                </f:if>  
              </f:else>
            </f:if>
          </f:else>
        </f:if>
      </f:then>
      <f:else>
      		<h4>Es wurde keine Funktionsträger gefunden!</h4> 	 
      </f:else>
  </f:if>
</f:section>
</html>
