<f:layout name="Kontakt" />
<f:section name="Vorname">
	<formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">
		<f:if condition="{formValue.value}">
			<f:then>
				<f:if condition="{formValue.element.identifier} == 'vorname'">
					<f:then> 
						<div><strong>Vorname: </strong>{formValue.processedValue}</div>
					</f:then>
				</f:if>					
			</f:then>	
		</f:if>
	</formvh:renderAllFormValues>
</f:section>
<f:section name="Nachname">
	<formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">
		<f:if condition="{formValue.value}">
			<f:then>
				<f:if condition="{formValue.element.identifier} == 'nachname'">
					<f:then> 
						<div><strong>Nachname: </strong>{formValue.processedValue}</div>
					</f:then>
				</f:if>					
			</f:then>	
		</f:if>
	</formvh:renderAllFormValues>
</f:section>
<f:section name="E-Mail">
	<formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">
		<f:if condition="{formValue.value}">
			<f:then>
				<f:if condition="{formValue.element.identifier} == 'email'">
					<f:then> 
						<div><strong>E-Mail: </strong>{formValue.processedValue}</div>
					</f:then>
				</f:if>					
			</f:then>	
		</f:if>
	</formvh:renderAllFormValues>
</f:section>
<f:section name="Schule">
	<formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">
		<f:if condition="{formValue.value}">
			<f:then>
				<f:if condition="{formValue.element.identifier} == 'schule'">
					<f:then> 
						<div><strong>Schule: </strong>{formValue.processedValue}</div>
					</f:then>
				</f:if>					
			</f:then>	
		</f:if>
	</formvh:renderAllFormValues>
</f:section>
<f:section name="Anfrage">
	<formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">
		<f:if condition="{formValue.value}">
			<f:then>
				<f:if condition="{formValue.element.identifier} == 'anfrage'">
					<f:then> 
						<div><strong>Anfrage: </strong>{formValue.processedValue}</div>
					</f:then>
				</f:if>					
			</f:then>	
		</f:if>
	</formvh:renderAllFormValues>
</f:section>