<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  	<f:variable name="jahr">{settings.termin -> f:format.date(format: 'Y')}</f:variable>
    <formvh:render
		persistenceIdentifier="EXT:bfbn/Resources/Private/Forms/meldung.form.yaml"
        overrideConfiguration="{
			finishers: {
				0: {
					options: {
						subject: 'Meldung der {institution.kurzbezeichnung} (Schulnummer: {institution.nummer}) zur {art}',
						title: 'FOSBOS-Netz - Meldung zur {art}',
						senderName: 'FOSBOS-Netz - {art}'                                      
					}               
				},                               
				1: {
				 	options: {
                 		contentElementUid: '{antwort}'           
                 	}                
                },                                               
				2: {
					options: {
						0: {
							databaseColumnMappings : {
                               pid : {
                               		value: '{pid}'
                               }   
							}                                   
						},
						1: {
							databaseColumnMappings : {
                               pid : {
                              		 value: '{pid}'
                               }   
							}                                   
                 		}       
					}                
				}                   
			},                   
			renderables: {
				0: {
					label: '',
					renderables: {
						0: {
							label: '',
							properties: {
                               text: '{text1}'
                            }
                        },
                        1: {
							renderables: {
                               0: {
                               		properties: {
                               			saveToFileMount: '2:/bayern/upload/{artl}/{jahr}/'
                               		},                                               
                               		validators: {
                               			2: {
                               				options : {
                               					teil1: 'tp',
                               					teil2: '{institution.nummer}',
                               					teil3: '{datei}',
                               					teil4: '{jahr}',
                              					fileext: '{fileext}'
                               				}
                               			}   
                               		}
                              	}  
							}    
						},                                           
						2: {
							defaultValue: '{institution.mbbezirk.uid}'
                        },
                        3: {
                            defaultValue: '{institution.nummer}'       
                        },
						4: {
							defaultValue: '{institution.kurzbezeichnung}'
                        },
                        5: {
                            defaultValue: '{settings.art}'
                        },
                        6: {
                            defaultValue: '{institution.uid}'
                        },
                        7: {
                            defaultValue: '{email_empf}'
                        },
                        8: {
                            defaultValue: '{email_empf_name}'
                        }                               
					}
				}
			}
		}"
	/> 
</html>