<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.script identifier="bfbn-karte" src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js" />
<f:asset.css identifier="bfbn-karte" href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" />

<f:asset.script identifier="vanilla_bfbn-karte-script">
	mapboxgl.accessToken = 'pk.eyJ1IjoibWJzdWVkIiwiYSI6ImNrcG1nOXF5cDAwZGQydm1sYmRxMWlwcDMifQ.gCeXh6f7Hi9RKudCHdJe4Q';
	let markercolor = '#005478'  
  
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mbsued/clq263gti01u501p93lbp0gyu',
		center: [{institution.laengengrad},{institution.breitengrad}],
		zoom: 15
	});
	var marker = new mapboxgl.Marker({color: markercolor})
		.setLngLat([{institution.laengengrad},{institution.breitengrad}])
		.setPopup(new mapboxgl.Popup({closeButton: false, maxWidth: '200px'}).setHTML("<h6>{institution.bezeichnung}</h6>")) // add popup
		.addTo(map);
  
  	marker.togglePopup(); // toggle popup open or closed
	map.addControl(new mapboxgl.NavigationControl());
  
    const layerList = document.getElementById('mapmenu');
    const inputs = layerList.getElementsByTagName('input');

    for (const input of inputs) {
    	input.onclick = (layer) => {
    		const layerId = layer.target.id;
    		map.setStyle('mapbox://styles/mbsued/' + layerId);
    	};
    }  
   
</f:asset.script>    

<div class="row card-deck row-cols-1 row-cols-md-2">
	<div class="col d-flex align-items-stretch">
		<div class="card mt-3 w-100">
		  <div class="card-header">
			Kontaktdaten
		  </div>
		  <div class="card-body">	
			<ul class="list-group list-group-flush eingerueckt">
				<li class="list-group-item"><i class="fas fa-school fa-fw me-3"></i>{institution.bezeichnung}<br />{institution.strasse}<br />{institution.plz}&nbsp;{institution.ort}</li>
				<li class="list-group-item"><i class="fas fa-phone fa-fw me-3"></i>{institution.telefon}</li>
				<li class="list-group-item"><i class="fas fa-fax fa-fw me-3"></i>{institution.fax}</li>
				<li class="list-group-item"><i class="fas fa-envelope fa-fw me-3"></i><f:link.email email="{institution.email}" title="E-Mail an {institution.kurzbezeichnung} schreiben.">{institution.email}</f:link.email></li>
				<li class="list-group-item"><i class="fas fa-globe fa-fw me-3"></i><f:link.external uri="{institution.homepage}" target="_blank" title="Externer Link zur Schule ({institution.kurzbezeichnung})">{institution.homepage}</f:link.external></li>
				<f:if condition="{institution.art.uid} > 1">
                  <f:if condition="{institution.mbbezirk.uid} == 1">
					<li class="list-group-item"><i class="fas fa-list-ul fa-fw me-3"></i><f:link.page pageUid="{settings.mblink.nordbayern}" title="Link zur Seite MB-Dienststelle Nordbayern">MB-Bezirk Nordbayern</f:link.page></li>
                  </f:if> 
                  <f:if condition="{institution.mbbezirk.uid} == 2">
					<li class="list-group-item"><i class="fas fa-list-ul fa-fw me-3"></i><f:link.page pageUid="{settings.mblink.ostbayern}" title="Link zur Seite MB-Dienststelle Ostbayern">MB-Bezirk Ostbayern</f:link.page></li>
                  </f:if>
                  <f:if condition="{institution.mbbezirk.uid} == 3">
					<li class="list-group-item"><i class="fas fa-list-ul fa-fw me-3"></i><f:link.page pageUid="{settings.mblink.suedbayern}" title="Link zur Seite MB-Dienststelle Südbayern">MB-Bezirk Südbayern</f:link.page></li>
                  </f:if>
                  <f:if condition="{institution.mbbezirk.uid} == 4">
					<li class="list-group-item"><i class="fas fa-list-ul fa-fw me-3"></i><f:link.page pageUid="{settings.mblink.westbayern}" title="Link zur Seite MB-Dienststelle Westbayern">MB-Bezirk Westbayern</f:link.page></li>
                  </f:if>                  
				</f:if>	
			</ul>
		  </div>
		</div>
	</div>
	
	<div class="col d-flex align-items-stretch">
		<div class="card mt-3 w-100 bg-light">
		  <div class="card-header">
			Lage
		  </div>
		  <div class="card-body">
			<div class="card-text" id="map" style="height: 270px;"></div>              
            <div class="card-text mt-3" id="mapmenu">
              <div class="form-check form-check-inline ms-2">
                <input class="form-check-input" id="clq263gti01u501p93lbp0gyu" type="radio" name="rtoggle" value="streets" checked="checked">
                <label class="form-check-label" for="clq263gti01u501p93lbp0gyu">Karte</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" id="clq27cthz01s301o9hfj1b89q" type="radio" name="rtoggle" value="satellite" >
                <label class="form-check-label" for="clq27cthz01s301o9hfj1b89q">Satellit</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" id="clq27g2e6009s01qw8f6s6r61" type="radio" name="rtoggle" value="outdoors">
                <label class="form-check-label" for="clq27g2e6009s01qw8f6s6r61">Outdoor</label>                
              </div>
            </div>          
		  </div>
		</div>  
	</div>
</div>
</html>
