<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.script identifier="bfbn-karte" src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js" />
<f:asset.css identifier="bfbn-karte" href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css" />

<f:asset.script identifier="vanilla_bfbn-karte-script">
	mapboxgl.accessToken = 'pk.eyJ1IjoibWJzdWVkIiwiYSI6ImNrcG1nOXF5cDAwZGQydm1sYmRxMWlwcDMifQ.gCeXh6f7Hi9RKudCHdJe4Q';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v11',
		center: [{institution.laengengrad},{institution.breitengrad}],
		zoom: 15
	});
	var marker = new mapboxgl.Marker()
		.setLngLat([{institution.laengengrad},{institution.breitengrad}])
		.setPopup(new mapboxgl.Popup({closeButton: false}).setHTML("<h6>{institution.bezeichnung}</h6>")) // add popup
		.addTo(map);
	map.addControl(new mapboxgl.NavigationControl());
</f:asset.script>

<h1>{institution.bezeichnung}&nbsp{f:if(condition: '{{institution.status.uid}==4', then: '({institution.status.bezeichnung})', else: '')}</h1>

<div class="row">
	<div class="col-xl-6 col-lg-6 col-md-6 col-12">
		<div class="card mt-3">
		  <div class="card-header">
			Kontaktdaten
		  </div>
		  <div class="card-body">	
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><i class="fas fa-home fa-fw"></i>&nbsp;{institution.strasse},&nbsp;{institution.plz}&nbsp;{institution.ort}</li>
				<li class="list-group-item"><i class="fas fa-phone fa-fw"></i>&nbsp;{institution.telefon}</li>
				<li class="list-group-item"><i class="fas fa-fax fa-fw"></i>&nbsp;{institution.fax}</li>
				<li class="list-group-item"><i class="fas fa-envelope fa-fw"></i>&nbsp;<f:link.email email="{institution.email}">{institution.email}</f:link.email></li>
				<li class="list-group-item"><i class="fas fa-globe fa-fw"></i>&nbsp;<f:link.external uri="{institution.homepage}" target="_blank">{institution.homepage}</f:link.external></li>
			</ul>
		  </div>
		</div>
	</div>
	
	<div class="col-xl-6 col-lg-6 col-md-6 col-12">
		<div class="card mt-3">
		  <div class="card-header">
			Lage
		  </div>
		  <div class="card-body">
			<div class="card-text" id="map" style="height: 350px; width: 100%;"></div>
		  </div>
		</div>
	</div>
</div>
</html>
