<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  
  <f:asset.script identifier="bfbn-karte" src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js" />
  <f:asset.css identifier="bfbn-karte" href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css"/>

  <f:asset.script identifier="vanilla_bfbn-karte-script">
    mapboxgl.accessToken = 'pk.eyJ1IjoibWJzdWVkIiwiYSI6ImNrcG1nOXF5cDAwZGQydm1sYmRxMWlwcDMifQ.gCeXh6f7Hi9RKudCHdJe4Q';

    let zaehler = 0
    let laengengrad = 0
    let breitengrad = 0
    let zoomfaktor = 17
    let markercolor = '#005478'

    <f:for each="{institutionen}" as="institution">						
      zaehler++
      laengengrad = laengengrad + {institution.laengengrad}
      breitengrad = breitengrad + {institution.breitengrad}
    </f:for>

    let bgmittel = breitengrad / zaehler
    let lgmittel = laengengrad / zaehler

    if (zaehler > 1) {
    <f:if condition="{zoom}">
      <f:then>zoomfaktor = {zoom}</f:then>
      <f:else>zoomfaktor = 7</f:else>
    </f:if>  
    } else {
    zoomfaktor = 17
    }
    // Karte anlegen
    
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mbsued/clq263gti01u501p93lbp0gyu',
		center: [lgmittel,bgmittel],
		zoom: zoomfaktor
	});

    // Add geolocate control to the map.
    map.addControl(
    	new mapboxgl.GeolocateControl({
    		positionOptions: {
    			enableHighAccuracy: true
    		},
    		// When active the map will receive updates to the device's location as it changes.
    		trackUserLocation: true,
    		// Draw an arrow next to the location dot to indicate which direction the device is heading.
   			 showUserHeading: true
    	})
    );    
    
	map.addControl(new mapboxgl.NavigationControl());    

    <f:for each="{institutionen}" as="institution">

      <f:if condition="{institution.status.uid}==4">
		<f:then>markercolor = '#91B6D4'</f:then>
      	<f:else>markercolor = '#005478'</f:else>        
      </f:if>
      
      var marker = new mapboxgl.Marker({color: markercolor})
          .setLngLat([{institution.laengengrad},{institution.breitengrad}])
          .setPopup(new mapboxgl.Popup({closeButton: false, maxWidth: '200px'}).setHTML('<f:link.action action="{aktion}" arguments="{institution : institution}" title="Detailansicht der Schule" class="nav-link"><h6>{institution.bezeichnung}{f:if(condition: '{institution.status.uid}==4', then: '&nbsp(staatlich genehmigt)', else: '')}</h6></f:link.action>')) // add popup
          .addTo(map);      
    </f:for>
    
    const layerList = document.getElementById('mapmenu');
    const inputs = layerList.getElementsByTagName('input');

    for (const input of inputs) {
    	input.onclick = (layer) => {
    		const layerId = layer.target.id;
    		map.setStyle('mapbox://styles/mbsued/' + layerId);
    	};
    }  
    map.on('styledata', () => {
    	if (!map.getLayer('outline')) {
          map.addLayer({
            'id': 'outline',
            'type': 'line',
            'source': {
                'type': 'vector',
                'url': 'mapbox://mbsued.clq6orkon2z201tpfgisck8my-5kw00'
            },
            'source-layer': 'bayern-genau',
            'layout': {},
            'paint': {
              'line-color': '#000',
              'line-width': 1
            }
          });
		}
    });
   
  </f:asset.script>
  <div class="d-flex flex-column">  
    <f:if condition="{hoehe}==500">
      <f:then>
        <div id="map" style="height: 500px; width: 100%;"></div>
      </f:then>
      <f:else>
        <f:if condition="{hoehe}==550">
          <f:then>
            <div id="map" style="height: 550px; width: 100%;"></div>
          </f:then>
          <f:else>
            <f:if condition="{hoehe}==600">
              <f:then>
                <div id="map" style="height: 600px; width: 100%;"></div>
              </f:then>
              <f:else>
                <f:if condition="{hoehe}==650">
                  <f:then>
                    <div id="map" style="height: 650px; width: 100%;"></div>
                  </f:then>
                  <f:else>
                    <f:if condition="{hoehe}==700">
                      <f:then>
                        <div id="map" style="height: 700px; width: 100%;"></div>
                      </f:then>
                      <f:else>
                        <f:if condition="{hoehe}==750">
                          <f:then>
                            <div  id="map" style="height: 750px; width: 100%;"></div>
                          </f:then>
                          <f:else>
                            <f:if condition="{hoehe}==800">
                              <f:then>
                                <div id="map" style="height: 800px; width: 100%;"></div>
                              </f:then>
                              <f:else>
                                <f:if condition="{hoehe}==850">
                                  <f:then>
                                    <div id="map" style="height: 850px; width: 100%;"></div>
                                  </f:then>
                                  <f:else>
                                    <f:if condition="{hoehe}==900">
                                      <f:then>
                                        <div id="map" style="height: 900px; width: 100%;"></div>
                                      </f:then>
                                      <f:else>
                                        <f:if condition="{hoehe}==950">
                                          <f:then>
                                            <div id="map" style="height: 950px; width: 100%;"></div>
                                          </f:then>
                                          <f:else>
                                            <f:if condition="{hoehe}==1000">
                                              <f:then>
                                                <div id="map" style="height: 1000px; width: 100%;"></div>
                                              </f:then>
                                              <f:else>
                                                <div id="map" style="height: 700px; width: 100%;"></div>
                                              </f:else>
                                            </f:if>
                                          </f:else>
                                        </f:if>
                                      </f:else>
                                    </f:if>
                                  </f:else>
                                </f:if>
                              </f:else>
                            </f:if>
                          </f:else>
                        </f:if>
                      </f:else>
                    </f:if>
                  </f:else>
                </f:if>
              </f:else>
            </f:if>
          </f:else>
        </f:if>      
      </f:else>
    </f:if>
    <div class="bg-light" id="mapmenu">
      <div class="form-check form-check-inline ms-2">
        <input class="form-check-input" id="clq263gti01u501p93lbp0gyu" type="radio" name="rtoggle" value="streets" checked="checked">
        <label class="form-check-label" for="clq263gti01u501p93lbp0gyu">Karte</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="clq27cthz01s301o9hfj1b89q" type="radio" name="rtoggle" value="satellite" >
        <label class="form-check-label" for="clq27cthz01s301o9hfj1b89q">Satellit</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="clq27g2e6009s01qw8f6s6r61" type="radio" name="rtoggle" value="outdoors">
        <label class="form-check-label" for="clq27g2e6009s01qw8f6s6r61">Outdoor</label>                
      </div>   
    </div>
  </div>
</html>  