<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  

  <f:asset.script identifier="bfbn-karte" src="https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js" />
  <f:asset.css identifier="bfbn-karte" href="https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css"/>

  <f:asset.script identifier="bfbn-karte-script">
    L.mapbox.accessToken = 'pk.eyJ1IjoibWJzdWVkIiwiYSI6ImNrcG1nOXF5cDAwZGQydm1sYmRxMWlwcDMifQ.gCeXh6f7Hi9RKudCHdJe4Q';

    let zaehler = 0
    let laengengrad = 0
    let breitengrad = 0
    let zoomfaktor = 17
    let markercolor = '#005478'

    <f:for each="{institutionen}" as="institution">						
      zaehler++
      laengengrad = laengengrad + {institution.laengengrad}
      breitengrad = breitengrad + {institution.breitengrad}
    </f:for>

    let bgmittel = breitengrad / zaehler
    let lgmittel = laengengrad / zaehler

    if (zaehler > 1) {
    <f:if condition="{zoom}">
      <f:then>zoomfaktor = {zoom}</f:then>
      <f:else>zoomfaktor = 7</f:else>
    </f:if>  
    } else {
    zoomfaktor = 17
    }
    // Karte anlegen 

    var map = L.map('map')
    .setView([bgmittel,lgmittel], zoomfaktor);

    // Die Layer anlegen

    L.control.layers({
    'Mapbox Streets': L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11').addTo(map),
    'Mapbox Light': L.mapbox.styleLayer('mapbox://styles/mapbox/light-v10'),
    'Mapbox Outdoors': L.mapbox.styleLayer('mapbox://styles/mapbox/outdoors-v11'),
    'Mapbox Satellite': L.mapbox.styleLayer('mapbox://styles/mapbox/satellite-v9')
    }).addTo(map);

    <f:for each="{institutionen}" as="institution">

      // Popup anlegen
      var popup = L.popup({closeButton:false})

      .setContent('<f:link.action action="{aktion}" arguments="{institution : institution}" title="Detailansicht der Schule"><h6>{institution.bezeichnung}{f:if(condition: '{institution.status.uid}==4', then: '&nbsp(staatlich genehmigt)', else: '')}</h6></f:link.action>')

      <f:if condition="{institution.status.uid}==4">
		<f:then>markercolor = '#91B6D4'</f:then>
      	<f:else>markercolor = '#005478'</f:else>        
      </f:if> 
      
      // marker anlegen und der Karte hinzufügen
      var marker = L.marker([{institution.breitengrad},{institution.laengengrad}], {
      icon: L.mapbox.marker.icon({
      'marker-color': markercolor
      })
      })
      .bindPopup(popup)
      .addTo(map);

    </f:for>

  </f:asset.script>
  <div class="card mt-3 mb-3" id="map" style="height: 700px; width: 100%;"></div>					

</html>  