<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:b="http://typo3.org/ns/MbFosbos/Bfbn/ViewHelpers">
	
	<div class="text-white">
		<p class="text-center ueberschrift1">
			<f:if condition="<b:IconpackDa /> == true">
				<f:then>
					<b:icon iconfig="fa6:solid,{data.subheader}" additionalAttributes="{class:'me-2',aria-hidden='true'}" />
				</f:then>
				<f:else>
					<i class="fas fa-{data.subheader} me-2"></i>
				</f:else>
			</f:if>		
			{data.header}
		</p>
	</div>	
</html>