<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
						
  <h1>Schulfremde Prüfer</h1>		
  <div class="mt-3 mb-2">
    <p><b>Termin: <f:format.date format="%A, %d. %B %Y">{settings.termin}</f:format.date></b>	</p>
	<p>
      Es sind die Prüfer anderer Schulen gemäß § 28 Abs. 1 Satz 2 FOBOSO und die Prüfer staatliche genehmigter Ersatzschulen nach § 43 Abs. 3 FOBOSO zu melden.</p>

<p><b>Es ist zu beachten, dass Lehrkräfte einer Ersatzschule nur gemeldet werden können, wenn sie eine für Fachoberschulen und Berufsoberschulen erforderliche volle Lehramtsbefähigung besitzen oder die erforderliche Unterrichtsgenehmigung nach dem Bayerischen Gesetz über das Erziehungs-und Unterrichtswesen endgültig erteilt worden ist.</b>
    </p>
	<p>Sofern sich nach diesem Termin noch Änderungen ergeben, teilen Sie diese bitte direkt 		der zuständigen MB-Dienststelle mit.</p>    
  </div>
    <f:flashMessages />
	<div class="mt-3 mb-3">
	<f:if condition="{alleschulfremdenpruefer}">
		<f:then>
          <div class="table-responsive-sm">       
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th scope="col">Titel</th>
						<th scope="col">Nachname</th>
						<th scope="col">Vorname</th>
						<th scope="col">Abschluss</th>
						<th scope="col">Schule</th>
						<th scope="col">Lehrbefähigung</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
				<f:for each="{alleschulfremdenpruefer}" as="schulfremderpruefer">
					<tr>
						<td>{schulfremderpruefer.titel}</td>
						<td>{schulfremderpruefer.nachname}</td>
						<td>{schulfremderpruefer.vorname}</td>
						<td>{schulfremderpruefer.abschluss.bezeichnung}</td>
						<td>{schulfremderpruefer.schule}</td>
						<td>{schulfremderpruefer.lehrbefaehigung}</td>
						<td style="text-align:center"><f:link.action action="edit" class="btn btn-primary" arguments="{schulfremderpruefer : schulfremderpruefer}"><i class="fas fa-pen me-2"></i>Ändern</f:link.action></td>
						<td style="text-align:center"><f:link.action action="delete" class="btn btn-primary" arguments="{schulfremderpruefer : schulfremderpruefer}"><i class="fas fa-trash-alt me-2"></i>Löschen</f:link.action></td>
					</tr>
				</f:for>
				</tbody>
			</table>
          </div>
		</f:then>
		<f:else>
			<p>Bisher wurden keine schulfremden Prüfer vorgegeben.</p>
		</f:else>
	</f:if>
	</div>						
	<div class="mb-3"><f:link.action class="btn btn-primary" action="new"><i class="far fa-plus-square me-2"></i>Schulfremde Prüfer vorgeben</f:link.action></div>
</f:section>
</html>
