<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>Schuldaten ändern</h1>

    <f:flashMessages />
	<div class="mt-5 mb-5">
		<table class="table table-striped table-bordered">        
			<tr>				
				<td><f:link.action action="edit" arguments="{institution : institution}">{institution.bezeichnung}</f:link.action></td>
			</tr>
        </table>
	</div>	
</f:section>
</html>
