<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<f:if condition="{settings.art}==1">
		<f:then>
          <h1>Meldung zur Märzstatistik</h1>
          <f:variable name="text1">Bitte laden Sie hier die die Datei für die Märzstatistik <f:format.date format="%Y">{settings.termin}</f:format.date> in der Form tp_nnnn_maerzstatistik_<f:format.date format="%Y">{settings.termin}</f:format.date>.xlsx (nnnn = Schulnummer) hoch.</f:variable>
          <f:variable name="art">Märzstatistik</f:variable>
          <f:variable name="artl">maerzstatistik</f:variable>
          <f:variable name="datei">maerzstatistik</f:variable>
          <f:variable name="fileext">xlsx</f:variable>          
          <f:variable name="antwort">686</f:variable>
          <f:if condition="{institution.mbbezirk.uid}==1">
            <f:then>
          		<f:variable name="pid">{settings.maerz.ordnernord}</f:variable>
              	<f:variable name="email_empf">{settings.emailn}</f:variable>
				<f:variable name="email_empf_name">MB-Dienststelle Nordbayern</f:variable>
            </f:then>
            <f:else>
              <f:if condition="{institution.mbbezirk.uid}==2">
                <f:then>
                    <f:variable name="pid">{settings.maerz.ordnerost}</f:variable>
              		<f:variable name="email_empf">{settings.emailo}</f:variable>                  
                    <f:variable name="email_empf_name">MB-Dienststelle Ostbayern</f:variable>
                </f:then>
                <f:else>
                  <f:if condition="{institution.mbbezirk.uid}==3">
                    <f:then>
                        <f:variable name="pid">{settings.maerz.ordnersued}</f:variable>
              			<f:variable name="email_empf">{settings.emails}</f:variable>                      
                        <f:variable name="email_empf_name">MB-Dienststelle Südbayern</f:variable>
                    </f:then>
                    <f:else>
                      <f:if condition="{institution.mbbezirk.uid}==4">
                        <f:then>
                            <f:variable name="pid">{settings.maerz.ordnerwest}</f:variable>
              				<f:variable name="email_empf">{settings.emailw}</f:variable>                          
                            <f:variable name="email_empf_name">MB-Dienststelle Westbayern</f:variable>
                        </f:then>
                        <f:else>
                        </f:else>
                      </f:if>                      
                    </f:else>
                  </f:if>                  
                </f:else>
              </f:if>              
            </f:else>
          </f:if>
		</f:then>
		<f:else>
        <f:if condition="{settings.art}==2">
            <f:then>
              <h1>Meldung zur Abschlussprüfungsstatistik</h1>
              <f:variable name="text1">Bitte laden Sie hier die die Datei für die Abschlussprüfungsstatistik <f:format.date format="%Y">{settings.termin}</f:format.date> in der Form tp_nnnn_apstatistik_<f:format.date format="%Y">{settings.termin}</f:format.date>.xml (nnnn = Schulnummer) hoch.</f:variable>
              <f:variable name="art">Abschlussprüfungsstatistik</f:variable>
              <f:variable name="artl">abschlusspruefungsstatistik</f:variable>
              <f:variable name="datei">apstatistik</f:variable>
              <f:variable name="fileext">xml</f:variable>               
              <f:variable name="antwort">1228</f:variable>
              <f:if condition="{institution.mbbezirk.uid}==1">
                <f:then>
                    <f:variable name="pid">{settings.abschluss.ordnernord}</f:variable>
                    <f:variable name="email_empf">{settings.emailn}</f:variable>
                    <f:variable name="email_empf_name">MB-Dienststelle Nordbayern</f:variable>
                </f:then>
                <f:else>
                  <f:if condition="{institution.mbbezirk.uid}==2">
                    <f:then>
                        <f:variable name="pid">{settings.abschluss.ordnerost}</f:variable>
                        <f:variable name="email_empf">{settings.emailo}</f:variable>                  
                        <f:variable name="email_empf_name">MB-Dienststelle Ostbayern</f:variable>
                    </f:then>
                    <f:else>
                      <f:if condition="{institution.mbbezirk.uid}==3">
                        <f:then>
                            <f:variable name="pid">{settings.abschluss.ordnersued}</f:variable>
                            <f:variable name="email_empf">{settings.emails}</f:variable>                      
                            <f:variable name="email_empf_name">MB-Dienststelle Südbayern</f:variable>
                        </f:then>
                        <f:else>
                          <f:if condition="{institution.mbbezirk.uid}==4">
                            <f:then>
                                <f:variable name="pid">{settings.abschluss.ordnerwest}</f:variable>
                                <f:variable name="email_empf">{settings.emailw}</f:variable>                          
                                <f:variable name="email_empf_name">MB-Dienststelle Westbayern</f:variable>
                            </f:then>
                            <f:else>
                            </f:else>
                          </f:if>                      
                        </f:else>
                      </f:if>                  
                    </f:else>
                  </f:if>              
                </f:else>
              </f:if>
            </f:then>
            <f:else>
              <f:if condition="{settings.art}==3">
                  <f:then>
                    <h1>Meldung der Lehrerliste</h1>
                    <f:variable name="text1">Bitte laden Sie hier die die Lehrerliste <f:format.date format="%Y">{settings.termin}</f:format.date> in der Form tp_nnnn_lehrerliste_<f:format.date format="%Y">{settings.termin}</f:format.date>.xlsx (nnnn = Schulnummer) hoch.</f:variable>
                    <f:variable name="art">Lehrerliste</f:variable>
                    <f:variable name="artl">lehrerliste</f:variable>
                    <f:variable name="datei">lehrerliste</f:variable>
					<f:variable name="fileext">xlsx</f:variable>                     
                    <f:variable name="antwort">4723</f:variable>
                    <f:if condition="{institution.mbbezirk.uid}==1">
                      <f:then>
                          <f:variable name="pid">{settings.lehrer.ordnernord}</f:variable>
                          <f:variable name="email_empf">{settings.emailn}</f:variable>
                          <f:variable name="email_empf_name">MB-Dienststelle Nordbayern</f:variable>
                      </f:then>
                      <f:else>
                        <f:if condition="{institution.mbbezirk.uid}==2">
                          <f:then>
                              <f:variable name="pid">{settings.lehrer.ordnerost}</f:variable>
                              <f:variable name="email_empf">{settings.emailo}</f:variable>                  
                              <f:variable name="email_empf_name">MB-Dienststelle Ostbayern</f:variable>
                          </f:then>
                          <f:else>
                            <f:if condition="{institution.mbbezirk.uid}==3">
                              <f:then>
                                  <f:variable name="pid">{settings.lehrer.ordnersued}</f:variable>
                                  <f:variable name="email_empf">{settings.emails}</f:variable>                      
                                  <f:variable name="email_empf_name">MB-Dienststelle Südbayern</f:variable>
                              </f:then>
                              <f:else>
                                <f:if condition="{institution.mbbezirk.uid}==4">
                                  <f:then>
                                      <f:variable name="pid">{settings.lehrer.ordnerwest}</f:variable>
                                      <f:variable name="email_empf">{settings.emailw}</f:variable>                          
                                      <f:variable name="email_empf_name">MB-Dienststelle Westbayern</f:variable>
                                  </f:then>
                                  <f:else>
                                  </f:else>
                                </f:if>                      
                              </f:else>
                            </f:if>                  
                          </f:else>
                        </f:if>              
                      </f:else>
                    </f:if>
                  </f:then>
                  <f:else>
					<f:if condition="{settings.art}==4">
						<f:then>
							<h1>Meldung der benötigten Modifikationen an den Angaben zur Abschlussprüfung</h1>
							<f:variable name="text1">Bitte laden Sie hier die Meldung der benötigten Modifikationen an den Angaben zur Abschlussprüfung <f:format.date format="%Y">{settings.termin}</f:format.date> in der Form tp_nnnn_modifikationap_<f:format.date format="%Y">{settings.termin}</f:format.date>.xlsx (nnnn = Schulnummer) hoch.</f:variable>
							<f:variable name="art">Modifikation an den Angaben zur AP</f:variable>
							<f:variable name="artl">modifikationap</f:variable>
							<f:variable name="datei">modifikationap</f:variable>
							<f:variable name="fileext">xlsx</f:variable>                      
							<f:variable name="antwort">6107</f:variable>
							<f:if condition="{institution.mbbezirk.uid}==1">
							  <f:then>
								  <f:variable name="pid">{settings.modifikation.ordnernord}</f:variable>
								  <f:variable name="email_empf">{settings.emailn}</f:variable>
								  <f:variable name="email_empf_name">MB-Dienststelle Nordbayern</f:variable>
							  </f:then>
							  <f:else>
								<f:if condition="{institution.mbbezirk.uid}==2">
								  <f:then>
									  <f:variable name="pid">{settings.modifikation.ordnerost}</f:variable>
									  <f:variable name="email_empf">{settings.emailo}</f:variable>                  
									  <f:variable name="email_empf_name">MB-Dienststelle Ostbayern</f:variable>
								  </f:then>
								  <f:else>
									<f:if condition="{institution.mbbezirk.uid}==3">
									  <f:then>
										  <f:variable name="pid">{settings.modifikation.ordnersued}</f:variable>
										  <f:variable name="email_empf">{settings.emails}</f:variable>                      
										  <f:variable name="email_empf_name">MB-Dienststelle Südbayern</f:variable>
									  </f:then>
									  <f:else>
										<f:if condition="{institution.mbbezirk.uid}==4">
										  <f:then>
											  <f:variable name="pid">{settings.modifikation.ordnerwest}</f:variable>
											  <f:variable name="email_empf">{settings.emailw}</f:variable>                          
											  <f:variable name="email_empf_name">MB-Dienststelle Westbayern</f:variable>
										  </f:then>
										  <f:else>
										  </f:else>
										</f:if>                      
									  </f:else>
									</f:if>                  
								  </f:else>
								</f:if>              
							  </f:else>
							</f:if>						
						</f:then>
						<f:else>
							<f:if condition="{settings.art}==5">
								<f:then>
									<h1>Meldung der Unfallstatistik</h1>
									<f:variable name="text1">Bitte laden Sie hier die Unfallstatistik <f:format.date format="%Y">{settings.termin}</f:format.date> in der Form tp_nnnn_unfallstatistik_<f:format.date format="%Y">{settings.termin}</f:format.date>.xlsx (nnnn = Schulnummer) hoch.</f:variable>
									<f:variable name="art">Unfallstatistik</f:variable>
									<f:variable name="artl">unfallstatistik</f:variable>
									<f:variable name="datei">unfallstatistik</f:variable>
									<f:variable name="fileext">xlsx</f:variable>                      
									<f:variable name="antwort">6108</f:variable>
									<f:if condition="{institution.mbbezirk.uid}==1">
									  <f:then>
										  <f:variable name="pid">{settings.unfallstatistik.ordnernord}</f:variable>
										  <f:variable name="email_empf">{settings.emailn}</f:variable>
										  <f:variable name="email_empf_name">MB-Dienststelle Nordbayern</f:variable>
									  </f:then>
									  <f:else>
										<f:if condition="{institution.mbbezirk.uid}==2">
										  <f:then>
											  <f:variable name="pid">{settings.unfallstatistik.ordnerost}</f:variable>
											  <f:variable name="email_empf">{settings.emailo}</f:variable>                  
											  <f:variable name="email_empf_name">MB-Dienststelle Ostbayern</f:variable>
										  </f:then>
										  <f:else>
											<f:if condition="{institution.mbbezirk.uid}==3">
											  <f:then>
												  <f:variable name="pid">{settings.unfallstatistik.ordnersued}</f:variable>
												  <f:variable name="email_empf">{settings.emails}</f:variable>                      
												  <f:variable name="email_empf_name">MB-Dienststelle Südbayern</f:variable>
											  </f:then>
											  <f:else>
												<f:if condition="{institution.mbbezirk.uid}==4">
												  <f:then>
													  <f:variable name="pid">{settings.unfallstatistik.ordnerwest}</f:variable>
													  <f:variable name="email_empf">{settings.emailw}</f:variable>                          
													  <f:variable name="email_empf_name">MB-Dienststelle Westbayern</f:variable>
												  </f:then>
												  <f:else>
												  </f:else>
												</f:if>                      
											  </f:else>
											</f:if>                  
										  </f:else>
										</f:if>              
									  </f:else>
									</f:if>								
								</f:then>
								<f:else>
								  <h1>Meldung</h1>
								  <f:variable name="text1">Bitte laden Sie hier die die Datei hoch.</f:variable>
								  <f:variable name="art">Meldung</f:variable>
								</f:else>
							</f:if>
					  </f:else>
					</f:if>
                  </f:else>
                </f:if>           
            </f:else>
          </f:if>
     	</f:else>
  	</f:if>
  
    <div class="mt-3 mb-2">
      <p><b>Termin: <f:format.date format="%A, %d. %B %Y">{settings.termin}</f:format.date></b></p>   
    </div>
  
    <f:flashMessages />
	<div class="mt-3 mb-2">
	<f:if condition="{meldungen}">
      <f:then>
        Bereits übermittelte Dateien:
        <table class="table table-striped table-bordered">
          <f:for each="{meldungen}" as="meldung">
            <tr class="row">
              <f:for each="{meldung.datei}" as="file">                      
                <td class="col-md-6">{f:if(condition:file.originalResource.title, then:file.originalResource.title, else:file.originalResource.name)}</td>
              </f:for>
              <td class="col-md-6"><f:format.date format="d.m.Y H:i">{meldung.crdate}</f:format.date></td>
            </tr>
          </f:for>
        </table>
      </f:then>
      <f:else>
        <p>Es wurde noch keine Datei übermittelt.</p>
      </f:else>
	</f:if>     
      
	<f:render partial="Meldung/List" arguments="{institution:institution, art:art, artl:artl, datei: datei, fileext: fileext, settings: settings, text1:text1, antwort: antwort, pid: pid, email_empf: email_empf, email_empf_name: email_empf_name}" />	
	</div>	
</f:section>
</html>
