<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="{form.identifier}">
	<div class="mb-3 mt-3">
		<f:if condition="{isPreparedMessage}">
			<f:then>
				{message -> f:format.raw()}
			</f:then>
			<f:else>
				{message -> f:format.nl2br()}
			</f:else>
		</f:if>
	</div>
    <f:if condition="{tempPdfFile}">
        <div class="mt-5 mb-5">
			<a href="/index.php?eID=bfbn&file={tempPdfFile}" target="_blank" class="btn btn-primary"><f:translate key="LLL:EXT:bfbn/Resources/Private/Language/locallang.xlf:bfbn.openPdfLink"/></a>
		</div>
    </f:if>
</div>
</html>
